<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 author-photo">
              <br /><br />
              <img class="img-responsive img-circle" src="https://secure.gravatar.com/avatar/e308353d68158f1741677735b0548233?size=300" alt="">
            </div>
            <div class="col-sm-8 text-left">

        <h2>About the author</h2>
            <p><b>My story</b></p>
            <p>I've been developing and deploying applications for over 15 years now. During this time I've learned a lot on what do to and what not to do, in terms of how to deploy applications. I've seen how beneficial a great deploy process can be for a team.</p>
            <p>You can find my blog at <a href="http://modess.io">modess.io</a> where I sometimes blog about deployment, sometimes I also <a href="http://modess.io/public-speaking">speak</a> at conferences and meetups on the topic.</p>
            <p><b>Special thanks to</b></p>
            <ul>
            <li>My friend and designer <a href="http://www.ashbagraphics.com/"><b>Joakim Unge</b></a> who made the awesome book cover.</li>
            <li>My sister and copywriter <b>Jenny Modess</b> for proofreading.</li>
            </ul>
            </div>
          </div>
    </div>
</section>
