<section id="why">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Chapters</h2>
        <p>And what you'll learn from them</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4 class="title">1. Automate</h4>
        <p>Why automation is a key aspect for minimising errors. It's the most important part of a good process. After all,
          to err is human...</p>
      </div>
      <div class="col-md-6">
        <h4 class="title">2. Goals</h4>
        <p>The bullet list of achievable goals we want when deploying PHP applications, or in fact any web application.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="title">3. Environments</h4>
        <p>Your application should live in different environments. Learn how they are commonly used, how to manage access to
          them and separate them.</p>
      </div>
      <div class="col-md-6">
        <h4 class="title">4. Atomic deploys</h4>
        <p>What is atomicity and how does it relate to deployment? It's about making deploys invisible to your users. Learn
          how you can make it happen.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="title">5. Tools</h4>
        <p>Technical tools that help you deploy, either on the server side or the client side. Git hooks, Phing, Capistrano,
          Rocketeer and more to come..</p>
      </div>
      <div class="col-md-6">
        <h4 class="title">6. Version control</h4>
        <p>How version control and branching strategies can be used as an aid. Learn git-flow and how it helps you and your
          team ship code.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="title">7. Dependencies</h4>
        <p>Managing dependencies can be tricky. Learn semantic versioning and how you define good constraints for your dependencies
          to minimise unexpected errors.</p>
      </div>
      <div class="col-md-6">
        <h4 class="title">8. Database migrations</h4>
        <p>Keep your database up to date with your code and version control your database schema. This covers the concept and
          tools for doing this.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="title">9. Running tests</h4>
        <p>Having automated tests are a great first line defence against bugs. What kind of tests are there and where should
          you run them?</p>
      </div>
      <div class="col-md-6">
        <h4 class="title">10. Logs &amp; notifications</h4>
        <p>You want to save console output when you deploy. You also want to be notified when something hits the fan, or get
          a notification when things run smoothly too.</p>
      </div>
    </div>
  </div>
</section>
