<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Developer, manager or system administrator involved in deploying PHP applications?</h1>
                        <h2>This book is for you. Learn best practises and the best deployment tools you can use. Become confident in your deploy process!</h2>
                        <a href="https://leanpub.com/deploying-php-applications" class="btn btn-primary btn-xl">Purchase on Leanpub</a>
                        <a href="https://leanpub.com/deploying-php-applications/read_sample" class="btn btn-outline btn-xl">Read free sample</a>
                        <p><small><em>Available in PDF, ePUB & Mobi</em></small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="device-container">
          <img src="/img/cover.png" class="img-responsive" alt="">
        </div>
    </div>
</header>
