<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Get a 20% discount!</h2>
                <p>Sign up for the Deploying PHP Newsletter</p>

                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                  #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="https://modess.us12.list-manage.com/subscribe/post?u=39db101647241e5921554dc42&amp;id=44c3de119e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">

                <div class="form-group">
                    <input type="email" class="form-control" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_39db101647241e5921554dc42_44c3de119e" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Get your discount code" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default"></div>
                    </div>
                    </div>
                </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</section>
